@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@500&family=Open+Sans:wght@300&display=swap');

body {
    background-color: #C4B6B4;
    font-family: Open Sans;
    font-weight: 500;
    color: black;

}

h1 {
    font-family: Noto Serif Hong Kong;
    text-transform: uppercase;
    letter-spacing: 4;
    color: #E57812;
}

#menu {
    font-size: 120%;
    letter-spacing: 4;
    text-decoration-line: underline;
}